<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i style="font-size:6rem;" class="fa-solid fa-hippo"></i>
    <h1 class="display-3">Nino</h1>
    <p class="lead">Share your mood to the most lovely person :)</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
