<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Find My Password</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/find" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <button type="submit" class="btn btn-dark">Find My Password</button>
          </form>
          <br>
          <h3><%=send%></h3>
          <%if(loginButton){%>
            <button onclick="location.href='/login'" class="btn btn-dark">Login</button>
          <%}%>  
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Technical Support
          </a>
          <br>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
