<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i style="font-size:6rem;" class="fa-solid fa-hippo"></i>
    <h1 class="display-3">Your Mood</h1>
    <p class="secret-text">Every moment of you will be Cherished</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder=<%=name%>>
      </div>
      <button type="submit" class="btn btn-dark">Share</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
