
body {
  color:#f72585;
  /* background-color: #fffffc; */
  background-color: #e9ecef;
}
h2{
  margin-bottom:0rem;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

h3.secret-text{
  border:0px;
}

.diary-wrapper{
  margin:30px;
}
p.secret-text{
  text-align:left;
  font-size:1.6rem;
  padding:20px;
  margin:20px auto;
}

button, .btn{
  margin:15px;
}

.btn-lg, .btn-main{
  color:#ffffff;
  background-color:#ffadad;
}
.btn-lg:hover,.btn-main:hover{
  background-color:#f72585;
  color:#fffffc;
}

textarea{
  min-height:200px;
  border-radius:8%;
  padding:3%;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #8e9aaf;
  border: 1px double black;
  border-radius:10%;
  width: -moz-fit-content;
  width: fit-content;
  margin:10px auto;
}

@media only screen and (min-width: 768px) {
  .secret-text {
    width: 80%;
  }
  textarea{
    height: 400px;
    width: 60%;
    max-width:800px;
  }
}

@media only screen and (max-width: 768px) {
  .secret-text {
    width:100%;
  }
  textarea {
    width:100%;
  }
}
