
body {
  color:#f72585;
  background-color: #fffffc;
}
h2{
  margin-bottom:0rem;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #8e9aaf;
  border: 1px double black;
  border-radius:10%;
  width: -moz-fit-content;
  width: fit-content;
  max-width:60%;
  margin:10px auto;
}
h3.secret-text{
  border:0px;
}

.diary-wrapper{
  margin:30px;
}
p.secret-text{
  text-align:left;
  font-size:1.6rem;
  padding:20px;
  margin:20px auto;
}

textarea{
  height:400px;
  width:50%;
  border-radius:8%;
  padding:3%;
}

button,.btn-lg{
  margin:15px;
  color:#ffffff;
  background-color:#ffadad;
}
.btn-lg:hover{
  background-color:#f72585;
  color:#fffffc;
}
